[submodule "themes/eureka"]
	path = themes/eureka
	url = https://github.com/wangchucheng/hugo-eureka.git
[submodule "themes/hugo-marble"]
	path = themes/hugo-marble
	url = https://github.com/wangchucheng/hugo-marble.git
